@use 'src/styles/vars';

.currencies {
  background-color: vars.$color-light;
  max-height: 250px;
  overflow-y: auto;
  &-title {
    padding: vars.$gutter;
    margin-top: vars.$gutter;
    font-weight: bold;
  }

  &-search {
    padding: vars.$gutter;
    margin-top: vars.$gutter;
    width: 100%;
    border: none;
    color: vars.$color;
    font: inherit;
    &::placeholder {
      color: vars.$color-alt;
    }
  }
}

.currency {
  padding: vars.$gutter;
  border-top: 1px solid vars.$color-alt;
  font-weight: 500;
  transition: background-color 1s;
  cursor: pointer;
  &:hover {
    background-color: vars.$color-alt;
    transition-duration: vars.$transition-fast;
  }
}

// BONUS : scroll-bar
.currencies {
  &::-webkit-scrollbar {
    width: vars.$gutter/2;
  }

  &::-webkit-scrollbar-track {
    background-color: vars.$color-light;
  }

  &::-webkit-scrollbar-thumb {
    background-color: vars.$color;
    outline: 1px solid black;
  }
}
